################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 2015/2017 cache/options directory
.vs/
.idea/
# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ublish/
[Pp]ublishProfiles/
x64/
x86/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc